*
!*.yaml
!config
!.gitignore
secrets.yaml
known_devices.yaml
deps
tts
home-assistant.log
home-assistant_v2.db
phue-00178827084a.
._automations.yaml
._cameras.yaml
._configuration.yaml
._customize.yaml
._groups.yaml
._known_devices.yaml
._scenes.yaml
._secrets.yaml
._sensors.yaml
._scripts.yaml